<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>404错误页面</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="/404/error_all.css?t=201303212934">
</head>
<body class="error-404">
<div id="doc_main">
	
	<section class="bd clearfix">
		<div class="module-error">
			<div class="error-main clearfix">
				<div class="label"></div>
				<div class="info">
					<h3 class="title">啊哦，您搜索的商品不存在，可能是炸了</h3>
					<div class="reason">
						<p>可能的原因：</p>
						<p>1、商家卖完了。</p>
						<p>2、卖该商品的商家倒闭了。</p>
					</div>
					<div class="oper">
<!--						<p><a href="javascript:history.go(-1);">返回上一级页面&gt;</a></p>-->
						<p><a href="http://index.ikwin.net:8083/gmall-search-web/index">回到网站首页&gt;</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

</body></html>
