<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njupt.gmall.manager.mapper.PmsSkuInfoMapper">

    <select id="selectSkuSaleAttrValueListBySpu" resultMap="selectSkuSaleAttrValueListBySpuMap">
        SELECT
	        si.*, sav.*, si.id as si_id, sav.id as sav_id
        FROM
	        pms_sku_info si,
	        pms_sku_sale_attr_value sav
        WHERE
	        si.product_id = #{productId}
	    AND si.id = sav.sku_id

    </select>

    <resultMap id="selectSkuSaleAttrValueListBySpuMap" type="com.njupt.gmall.bean.PmsSkuInfo" autoMapping="true">
        <result column="si_id" property="id"></result>
        <collection property="skuSaleAttrValueList" ofType="com.njupt.gmall.bean.PmsSkuSaleAttrValue" autoMapping="true">
            <result column="sav_id" property="id"></result>
        </collection>
    </resultMap>

</mapper>