<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8" />
		<script src="js/jquery-3.1.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/JD2.css" />



		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<!--		<title>商城网上商城</title>-->
		<link rel="stylesheet" type="text/css" href="css/stylez.css">
		<link rel="stylesheet" type="text/css" href="css/css.css" />
		<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript">
			$(function() {
				var region = $("#region");
				var address = $("#address");
				var number_this = $("#number_this");
				var name = $("#name_");
				var phone = $("#phone");
				$("#sub_setID").click(function() {
					var input_out = $(".input_style");
					for (var i = 0; i <= input_out.length; i++) {
						if ($(input_out[i]).val() == "") {
							$(input_out[i]).css("border", "1px solid red");

							return false;
						} else {
							$(input_out[i]).css("border", "1px solid #cccccc");
						}
					}
				});
				var span_momey = $(".span_momey");
				var b = 0;
				for (var i = 0; i < span_momey.length; i++) {
					b += parseFloat($(span_momey[i]).html());
				}
				var out_momey = $(".out_momey");
				out_momey.html(b);
				$(".shade_content").hide();
				$(".shade").hide();
				$('.nav_mini ul li').hover(function() {
					$(this).find('.two_nav').show(100);
				}, function() {
					$(this).find('.two_nav').hide(100);
				})
				$('.left_nav').hover(function() {
					$(this).find('.nav_mini').show(100);
				}, function() {
					$(this).find('.nav_mini').hide(100);
				})
				$('#jia').click(function() {
					$('input[name=num]').val(parseInt($('input[name=num]').val()) + 1);
				})
				$('#jian').click(function() {
					$('input[name=num]').val(parseInt($('input[name=num]').val()) - 1);
				})
				$('.Caddress .add_mi').click(function() {
					$(this).css('background', 'url("img/mail_1.jpg") no-repeat').siblings('.add_mi').css('background', 'url("img/mail.jpg") no-repeat')
				})
			})
			var x = Array();
			function func(a, b) {
				x[b] = a.html();
				alert(x)
				a.css('border', '2px solid #f00').siblings('.min_mx').css('border', '2px solid #ccc');
			}

			function onclick_close() {
				var shade_content = $(".shade_content");
				var shade = $(".shade");
				if (confirm("确认关闭么！此操作不可恢复")) {
					shade_content.hide();
					shade.hide();
				}
			}

			function onclick_open() {
				$(".shade_content").show();
				$(".shade").show();
				var input_out = $(".input_style");
				for (var i = 0; i <= input_out.length; i++) {
					if ($(input_out[i]).val() != "") {
						$(input_out[i]).val("");
					}
				}
			}

			function onclick_remove(r) {
				if (confirm("确认删除么！此操作不可恢复")) {
					var out_momey = $(".out_momey");
					var input_val = $(r).parent().prev().children().eq(1).val();
					var span_html = $(r).parent().prev().prev().children().html();
					var out_add = parseFloat(input_val).toFixed(2) * parseFloat(span_html).toFixed(2);
					var reduce = parseFloat(out_momey.html()).toFixed(2)- parseFloat(out_add).toFixed(2);
					console.log(parseFloat(reduce).toFixed(2));
					out_momey.text(parseFloat(reduce).toFixed(2))
					$(r).parent().parent().remove();
				}
			}

		</script>


		<title></title>
	</head>

	<body>
		<!--顶部-->
		<header>
			<input name="nickName_hidden" th:value="${nickName}" type="hidden"/>
			<div class="header">
				<ul class="header-left">
					<li>
						<img src="img/header_1.png"/>
						<a href="http://106.12.154.17:8083/gmall-search-web/index">首页</a>
					</li>
					<li class="header-l-2">
						<i class="fa fa-map-marker" style="color: #5C5452;"></i>
						<a href="#">北京</a>

					</li>

				</ul>
				<ul class="header-right">
					<li id="successLoginData" ><span th:text="'你好，'+ ${nickName}" class="li_2"></span><span class="li_2">，退出</span></li>
					<li>|</li>
					<li class="spacer"></li>
					<li><a href="http://search.ikwin.net:8086/gmall-order-web/myOrder" style="font-size:13px;color: black">我的订单</a></li>
					<li class="spacer"></li>

				</ul>
				<div style="clear: both;"></div>
			</div>


		</header>

		<input type="hidden" name="memberId"  th:value="${memberId}">

		<!--logo图片-->
		<div class="top-1">
			<img src="img/logo1.jpg" class="img1" /><span>结算页</span>
			<!--右侧绿色-->
			<img src="img/08.png" class="img2" />
		</div>


		<!--
        	作者：vukwin
        	时间：2020-07-06
        	描述：新增收货地址
        -->
		<div class="Caddress">
			<div class="open_new">
				<button class="open_btn" onclick="javascript:onclick_open();">使用新地址</button>
			</div>
		</div>
		<div class="shade" style="display: none">
		</div>
		<div class="shade_content" style="display: none">
			<div class="col-xs-12 shade_colse">
				<button onclick="javascript:onclick_close();">x</button>
			</div>
			<div class="nav shade_content_div">
				<div class="col-xs-12 shade_title">
					新增收货地址
				</div>
				<div class="col-xs-12 shade_from">
					<form action="" method="post" id="addressForm">
						<div class="col-xs-12">
							<span class="span_style" id="">省&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;份</span>
							<input class="input_style" type="" name="province" id="province" value="" placeholder="&nbsp;&nbsp;请输入您的所在省份" />
						</div>
						<div class="col-xs-12">
							<span class="span_style" id="">城&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;市</span>
							<input class="input_style" type="" name="city" id="city" value="" placeholder="&nbsp;&nbsp;请输入您的所在城市" />
						</div>
						<div class="col-xs-12">
							<span class="span_style" id="">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区</span>
							<input class="input_style" type="" name="region" id="region" value="" placeholder="&nbsp;&nbsp;请输入您的所在地区" />
						</div>
						<div class="col-xs-12">
							<span class="span_style" id="">详细地址</span>
							<input class="input_style" type="" name="address" id="address" value="" placeholder="&nbsp;&nbsp;请输入您的详细地址" />
						</div>
						<div class="col-xs-12">
							<span class="span_style" id="">邮政编号</span>
							<input class="input_style" type="" name="number_this" id="number_this" value="" placeholder="&nbsp;&nbsp;请输入您的邮政编号" />
						</div>
						<div class="col-xs-12">
							<span class="span_style" class="span_style" id="">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</span>
							<input class="input_style" type="" name="name_" id="name_" value="" placeholder="&nbsp;&nbsp;请输入您的姓名" />
						</div>
						<div class="col-xs-12">
							<span class="span_style" id="">手机号码</span>
							<input class="input_style" type="" name="phone" id="phone" value="" placeholder="&nbsp;&nbsp;请输入您的手机号码" />
						</div>
						<div class="col-xs-12">
							<input class="btn_remove" type="button" id="" onclick="javascript:onclick_close();" value="取消" />
							<input type="submit" class="sub_set" id="sub_setID" value="提交" onclick="addressSubmit()"/>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!--主体部分-->
		<p class="p1">填写并核对订单信息</p>
		<div class="section">
			<!--收货人信息-->
			<div class="top-2">
				<span>收货人信息 : </span>
				<!--				<span>新增收货地址</span>-->
			</div>

			<div id="tradeInner" th:include="tradeInner"></div>

			<!--地址-->

			<div class="hh1"/>
		</div>
		<!--********************************************************************************************-->


		<!--支付方式-->
		<h4 class="h4">支付方式</h4>

		<div class="top-6">
			<p>  <span> 在线支付 </span> </p>
		</div>
		<div class="hh1"></div>
		<!--送货清单-->
		<h4 class="h4" style="margin-top: 5px;">送货清单</h4>
		<div class="top_1">

			<div class="to_right">
				<h5>商家：自营</h5>
				<!--图片-->
				<div class="yun1" th:each="omsOrderItem:${omsOrderItems}"  >
					<img  th:src="${omsOrderItem.productPic}" class="yun"/>
					<div class="mi">
						<div><p style="width: 500px;" th:text="${omsOrderItem.productName}" >商品名称111111111111 </p> <span style="float: right"> <span align="center" style="color: red" >   </span> <span   th:text="'X '+${omsOrderItem.productName}"> X 1   </span> <span  >有货</span>  <span  >无货</span>  </span> </div>

					</div>
				</div>


		  </div>
		</div>
		<div class="bto">
			<div class="hh2"></div>
			<h4 class="float">添加订单备注
				<input id="orderCommentPage" type="text" maxlength="145" size="75" style="height: 22px" placeholder="请将购买需求在备注中说明"/>
			</h4>
			<br/>
			<div class="hh3"></div>

		</div>
		<div class="xia">



			<div class="yfze">
				<p class="yfze_a"><span class="z">应付总额：</span><span class="hq" th:text="'￥'+${totalAmount}" > ￥99999</span></p>


			<button id="submitButton" class="tijiao">提交订单</button>
		</div>
		</div>

		<form action="./submitOrder" method="post" id="orderForm">
			<input name="receiveAddressId" id="receiveAddressId" value="1" type="hidden"/>
			<input name="totalAmount" id="totalAmount" type="hidden" th:value="${totalAmount}"/>

			<input name="tradeCode" type="hidden"  th:value="${tradeCode}"  />
		</form>
		<script>
			function addressSubmit() {
				var memberId = $("input[name='memberId']").val();
				var provice = $("input[name='province']").val();
				var city = $("input[name='city']").val();
				var region = $("input[name='region']").val();
				var detailAddress = $("input[name='address']").val();
				var postCode = $("input[name='number_this']").val();
				var name = $("input[name='name_']").val();
				var phoneNumber = $("input[name='phone']").val();
				var param = "memberId=" +memberId + "&province=" + provice + "&city=" + city +
												"&region=" + region + "&detailAddress=" + detailAddress + "&postCode=" + postCode +
												"&name=" + name + "&phoneNumber=" + phoneNumber;
				$.post("addAddress",param,function (html) {
					$("#tradeInner").html(html);
				});
            }

			function changeAddress() {
				var receiveAddressId = $("input[name='deliveryAddress']:checked").val();
				$("#receiveAddressId").val(receiveAddressId);

			}

            $(function() {


                $("#submitButton").click(function () {
                   $("#consignee").val($("input[type='radio']:checked").next().text()) ;
                   $("#deliveryAddress").val( $("input[type='radio']:checked").next().next().text());
                   $("#paymentWay").val("ONLINE");
                   $("#orderComment").val($("#orderCommentPage").val());
                   $("#orderForm").submit();

                });


                $('.header-right li:nth-of-type(6)').hover(function(){
                    $('.header-r-11').css('display','block')
                },function(){
                    $('.header-r-11').css('display','none')
                })
                $('.header-right li:nth-of-type(12)').hover(function(){
                    $('.header-r-2').css('display','block')
                },function(){
                    $('.header-r-2').css('display','none')
                })
                $('.header-right li:nth-of-type(14)').hover(function(){
                    $('.header-r-3').css('display','block')
                },function(){
                    $('.header-r-3').css('display','none')
                })
                $('.header-l-2').hover(function(){
                    $('.header-l-d').css('display','block')
                },function(){
                    $('.header-l-d').css('display','none')
                })
                $('.header-r-4').hover(function(){
                    $('.h-r-1').css('display','block')
                },function(){
                    $('.h-r-1').css('display','none')
                })
            })



		</script>
	</body>

</html>